@model IEnumerable<_2011061909_DoDuyToan.Models.Course>

@{
    ViewBag.Title = "Home Page";
}

<style>

    .course {
        list-style: none;
    }

        .course > li {
            position: relative;
            margin-bottom: 30px;
        }

            .course > li .date {
                text-align: center;
                background-color: #d41d50;
                color: #fff;
                width: 60px;
                border-radius: 8px;
            }

            .course > li .details {
                position: absolute;
                top: 0;
                left: 70px;
            }
</style>

<h1>Giảng Viên</h1>

    <ul class="course">
        @foreach (var course in Model)
        {
        <li>
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @course.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name
                </span>
                <span class="category">
                    @course.Category.Name
                </span>
            </div>
        </li>
        }
 
    </ul>
